* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem auto;
    text-align: center;
}

html {
    
    background: url("images/header2.jpg") no-repeat fixed left top ;
    background-size: cover;
}

body {
    /* max-width: 80rem; */
    padding: 1rem;
    margin: 1rem auto;
    position: relative;
   
}

header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 2px solid #3a1;
    border-radius: 10%;
    margin-bottom: 1rem;
    color: #fff;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.iframe-container {
    display: flex;
    margin: auto;
}

nav {
    display: flex;
    flex: 25%;
    flex-wrap: wrap; 
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    margin: 0.5rem;
    border: 2px solid #3a1;
    border-radius: 5%;
}

nav ul {
    width: 100%;
    height: auto;
    text-align: center;
	
margin-bottom: 1rem;	
}

nav ul a {
    display: block;
    text-decoration: none; 
    padding: 1rem;
    color: #fff;
}

nav li {
    display: block;
    list-style: none;
    margin: 0.5rem auto;
    border: 1px solid #3a1;
    border-radius: 10%;
    overflow: hidden;
}

nav ul a:hover {
    background-color: #11d;
}

nav section {
	display: flex;
	width: 80%;
	height: auto;
	margin: auto;
	
}

nav section a {
	width: 100%;
	height: 100%;
	 border-radius: 10%;	
	overflow: hidden;
	
}

.nav-image {
    display: flex;
    width: 100%;
    height: 100%;
	border: 1px solid #000;
    border-radius: 10%;
}

.nav-image:hover {
    border: 1px solid #fff;
}

main {
    display: flex;
    flex-wrap: wrap; 
    flex: 51%;
    padding: 0.5rem;
    border: 2px solid #3a1;
    background: #fff;
}

main p {
    margin-bottom: 0.5rem;
}

.img {
    width: 80%;
    margin: 0.5rem auto;
}

aside {
    display: flex;
    flex: 21%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 2px solid #3a1;
    border-radius: 5%;
}

aside ul {
    width: 100%;
    height: auto;
    text-align: center;
}

aside li {
    list-style: none;
    margin: 0.5rem auto;
    border: 1px solid #3a1;
    border-radius: 10%;
    overflow: hidden;
}

aside li a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: #fff;
}

aside a:hover {
    background-color: #11d;
    color: #fff;
}

aside a:hover p {
    color: black;
}

.aside-button-image {
    width: 8%;
    height: auto;
    margin: 1rem auto;
    border: 1px solid #000;
    border-radius: 50%;
    position: fixed;
    top: 2%;
    right: 2%;
}

.aside-button-image:hover {
    border: 1px solid #fff;
}

footer {
    margin-top: 1rem;
    padding: 2rem;
    border: 2px solid #3a1;
    border-radius: 10%;
    
}

    footer h4 {
        display: flex;
        justify-content: center;
        max-width: 60%;
        background: #3a1;
        margin: 0 auto;
    }
